
html { 
    font-size: 62.5% !important;
}

body {
    scroll-behavior: smooth !important;
    box-sizing: border-box !important;
    font-family: var(--ff-1) !important; 
    font-size: var(--fs-1) !important;
    font-weight: 400;
    accent-color: var(--primary);
    color: var(--white) !important;
    background: var(--black) !important;
}

.overflow {
    overflow: hidden;
}

.row {
    margin: 0 !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10,
.col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10,
.col-lg-11, .col-lg-12 {
    padding: 0 !important;
}

.container { 
    max-width: 160rem !important; 
    padding-inline: clamp(1rem, 4.5vw, 7.5rem) !important;
}

/*================================================
SCROLL BAR
==================================================*/

::-webkit-scrollbar { 
    width: .7rem; 
}

::-webkit-scrollbar-thumb { 
    background: var(--primary); 
}

::-webkit-scrollbar-thumb:hover { 
    background: var(--primary);
}

/*================================================
PLACE HOLDER COLOR
==================================================*/

::placeholder { 
    color: var(--gray) !important;
    font-family: var(--ff-1) !important;
    text-transform: capitalize;
    font-size: 1.4rem;
}

/*================================================
WARNING MESSAGES
==================================================*/

.error { 
    color: var(--red) !important; 
}

.result { 
    font-size: var(--fs-2);
    color: var(--primary) !important;
    font-weight: 500; 
    text-align: center;
    text-transform: uppercase;
}

/*===================================================================
Hamburger Bar
=====================================================================*/

.hamburger {
    padding: .25rem;
    width: 4rem;
    z-index: 999;
    display: none;
}

.hamburger span {
    background-color: var(--primary);
    border-radius: .25rem;
    display: block;
    height: .4rem;
    margin-block: .6rem;
    transition: all .2s ease-in-out;
}

.hamburger__change span:nth-child(1) {
    transform: translateY(10px) rotate(135deg);
}

.hamburger__change span:nth-child(2) {
    transform: scale(0);
}

.hamburger__change span:nth-child(3) {
    transform: translateY(-10px) rotate(-135deg);
}

@media (max-width: 991px) {
    .hamburger {
        display: unset;
    }
}

/*===================================================================
NAVBAR
=====================================================================*/

.nav__bar {
    z-index: 999;
    transition: 1s;
    background: var(--black);
    padding-block: 1rem;
    position: relative;
}

.nav__bar .container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: block;
    padding: .5rem .75rem;
    outline: none;
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    font-family: var(--ff-2);
    font-weight: 700;
    text-transform: capitalize;
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.nav__logo::after {
    content: '';
    position: absolute;
    inset: 0 auto 0 0;
    display: block;
    background: var(--primary);
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: -1;
    transition: .5s;
}

.nav__logo:hover {
    letter-spacing: .25rem;
}

.nav__logo:hover::after {
    aspect-ratio: 4/1;
    border-radius: 0;
}

.nav__link { 
    display: inline-block;
    padding: .5rem 1rem;
    font-weight: 400;
    font-family: var(--ff-2);
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    transition: .5s;
}

.nav__link::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: var(--primary);
    scale: 0 1;
    transition: scale .75s;
    transform-origin: right top;
}

.nav__link:hover::after {
    scale: 1;
    transform-origin: left top;
}

.active__link::after {
    scale: 1;
}

.active__link {
    color: var(--primary) !important;
}

.scroll { 
    animation: fadeInDown 1s;
    background: var(--brown);
/*    box-shadow: var(--sd-1);*/
}

@media (max-width: 991px) { 

    .nav__block { 
        text-align: center;
        position: absolute;
        inset: 100% 0 auto 0;
        scale: 1 0;
        transform-origin: top left;
        opacity: 0;
        background: rgba(0, 0, 0, .5);
        backdrop-filter: blur(1rem);
        overflow: auto;
        transition: .5s;
    } 

    .nav__block--view {
        scale: 1;
        opacity: 1;
    }

    .nav__link {
        display: block;
        font-size: var(--fs-4);
        margin-block: 1rem;
        font-weight: 700;
    }

    .nav__link::after {
        display: none;
    }

}

/*===================================================================
Drop Down
=====================================================================*/

.drop {
    position: relative;
    display: inline-block;
}

.drop__box {
    position: absolute;
    inset: 100% 0 auto auto;
    background-color: var(--white);
    padding: 1rem;
    overflow: auto;
    border-radius: 1rem;
    box-shadow: var(--sd-2);
    min-width: 15rem;
    transition: .5s;
    scale: 0;
    transform-origin: right top;
    opacity: 0;
    display: block;
}

.drop__box--exp, .drop:hover .drop__box {
    scale: 1;
    opacity: 1;
}

@media (max-width: 991px) {

    .drop__box {
        position: unset;
        inset: unset;
        display: none;
        margin: .5rem 1rem;
        width: auto;
    }

    .drop__box--exp {
        display: block;
    }

}

/*===================================================================
FOOTER
=====================================================================*/

.foot {
    padding-block: var(--s-1);
    margin-top: var(--s-2);
    background: var(--brown);
    text-align: center;
}

.foot__link {
    color: var(--white);
    text-decoration: none;
    outline: none;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 1rem;
    padding-block: .5rem;
    transition: .5s;
    text-transform: capitalize;
}

.foot__link:hover {
    color: var(--primary);
}

@media (max-width: 767px) {}

