
/*=================================================
Hero
===================================================*/

.hero {
	position: relative;
}
 
.hero__img {
	height: min(100dvh, 75rem);
	width: 100%;
	object-fit: cover;
}

.hero .container {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.hero__text--top {
	color: var(--gray);
	font-weight: 500;
	margin-block: 1rem;
}

.hero__text--top::after {
	content: '';
	margin-top: .5rem;
	height: 1.5px;
	width: 7.5rem;
	display: block;
	background-color: var(--gray);
}

.hero__text {
	padding-block: 1rem;
}

.hero__text span:nth-child(1) {
	display: block;
	font-weight: 800;
	font-size: clamp(4rem, 5vw, 7rem);
	line-height: 1.25;
}

.hero__text span:nth-child(2) {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: 700;
	font-size: var(--fs-4);
	color: var(--gray);
}

.hero__con {
	display: inline-flex;
	align-items: center;
	gap: .5rem;
	text-transform: capitalize;
	padding-block: .5rem;
	margin-block: 1rem;
	text-decoration: none;
	color: var(--primary);
}

/*=================================================
Others
===================================================*/

.main__head {
	color: var(--primary);
	text-transform: capitalize;
	font-size: var(--fs-4);
	display: inline-block;
	margin-bottom: 1rem;
	font-weight: 600;
}

.main__head::after {
	content: '';
	height: 2px;
	width: 100%;
	display: block;
	transform: scale(.5, 1);
	transform-origin: left bottom;
	background-color: var(--primary);
	transition: .5s;
}

.main__head:hover::after {
	transform: scale(1.0);
}

.about__img {
	margin-block: 1rem;
	border-radius: 1rem;
	overflow: hidden;
}

.about__img img {
	max-width: 100%;
	max-height: 100%;
	transition: .5s;
}

.about__img:hover img {
	transform: var(--h-3);
}

.about__block {
	border-block: 1px solid var(--gray);
	margin-block: 1rem;
	padding: var(--s-1);
	border-radius: 1rem;
	box-shadow: var(--sd-1);
}

.list__text {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-block: .75rem;
	text-transform: capitalize;
}

.list__text::before {
	content: '\F140';
	font-family: var(--ff-bi);
	color: var(--primary);
}

.bar {
	padding: 1rem;
	color: var(--primary);
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.4rem;
}

.bar__thumb {
	margin-top: .5rem;
	display: block;
	overflow: hidden;
	border-radius: .5rem;
	box-shadow: var(--sd-2);
}

.bar__prog {
	display: block;
	background-color: var(--primary);
	height: 1rem;
	width: 0;
}

.port__card {
	display: block;
	outline: none;
	text-decoration: none;
	margin: 1rem;
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
}

.port__card img {
	height: 20rem;
	width: 100%;
	object-fit: cover;
	object-position: left top;
}

.port__card span {
	background-color: rgba(0, 0, 0, .75);
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	padding: 1rem;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: capitalize;
	transform: scale(0);
	transition: .5s;
	opacity: 0;
	border-radius: 50%;
}

.port__card:hover span {
	transform: scale(1.0);
	opacity: 1;
	border-radius: 0;
}