
/*================================================================================
FONT FACE
==================================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700;800&display=swap');

/*======================================================
VARIABLES
========================================================*/

:root {

    --primary: #515C5E;
    --black: #000000;
    --white: #FFFFFF;
    --red: #bf0d1f;
    --gray: #909191;


    --s-1: calc(1rem + 1vw);
    --s-2: calc(1rem + 2vw);
    --s-3: calc(1rem + 3vw);
    

    --sd-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --sd-2: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    --gd-1: linear-gradient(to right, rgba(81, 92, 94, .35) 0%, var(--white) 100%);


    --h-1: translateY(-1rem);
    --h-2: translateX(1rem);
    --h-3: scale(1.1);


    --ff-1: 'Mukta', sans-serif;
    --ff-bi: 'bootstrap-icons';


    --fs-1: clamp(1.4rem, 2vw, 1.6rem);
    --fs-2: clamp(1.6rem, 2vw, 1.8rem);
    --fs-3: clamp(3.2rem, 5vw, 4rem);
    --fs-4: clamp(2.2rem, 3vw, 2.8rem);
}


@media (max-width: 991px) {
    :root {
        --h-1: translateY(0);
        --h-2: translateX(0);
        --h-3: scale(1.0);
    }
}

/*======================================================
FONT STYLE
========================================================*/

.p {
    font-size: var(--fs-1) !important;
    color: var(--black) !important;
    font-weight: 400 !important;
}

.p1 {
    font-size: var(--fs-2) !important;
    color: var(--black) !important;
    font-weight: 500 !important;
}

.h {
    font-size: var(--fs-3) !important;
    color: var(--black) !important;
    font-weight: 800 !important;
    text-transform: capitalize;
}

.h1 {
    font-size: var(--fs-4) !important;
    color: var(--black) !important;
    font-weight: 700 !important;
    text-transform: capitalize;
}

/*===================================================================================
SECTIONS
=====================================================================================*/

.sec-1 {
    padding-top: var(--s-2);
}

.sec-2 {
    padding-block: var(--s-2);
}

/*===================================================================================
COLOR
=====================================================================================*/

.c-white {
    color: var(--white) !important;
}

.c-primary {
    color: var(--primary) !important;
}

/*================================================================================
FONT FACE
==================================================================================*/